$def with (rules, logs)


<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>API Mock</title>
</head>
<body>
<table border="0">
<tr>

<td width="50%" valign="top">
<form action="submit" method="post">
<textarea name="content" cols="75" rows="36" style="font-family: COURIER;font-size:13px;">$rules</textarea>
<br>
<input type="submit" value="Submit">
</form>
</td>

<td width="50%" valign="top">
<form action="clear" method="post">
<textarea name="content" cols="75" rows="36" readonly="1" style="font-family: COURIER;font-size:13px;">$logs</textarea>
<br>
<input type="submit" value="Clear">
</form>
</td>

</tr>
</table>
<br>
<a href="http://wiki.babel.baidu.com/twiki/bin/view/Ps/Ns/APIMock%E5%B7%A5%E5%85%B7">文档说明</a>
&nbsp;&nbsp;&nbsp;版本1.0.1&nbsp;&nbsp;&nbsp;（建议、BUG请联系我&nbsp;<a href="mailto:dengjun01@baidu.com">dengjun01@baidu.com</a>）
</body>
</html>